nonebot
nonebot-plugin-apscheduler
nonebot-plugin-status
nonebot-adapter-onebot
chromadb
ollama
openai
aiosqlite
Pillow
aiofiles
aiohttp
deepdiff
fastapi
httpx
langchain
langchain-core
langchain-openai
langgraph
numpy
prompt-toolkit
pydantic
qdrant-client
requests
rich
SQLAlchemy
sympy
tabulate
tiktoken
toml
tomli
tqdm
uvicorn
PyYAML
