{
  "api_config_path": "./config/api_config.json",
  "config_groups_path": "./config/config_group.json",
  "default_config_group": "default",
  "prompt_dir_path": "./config/prompts",
  "data_dir_path": "./data",
  "plugin_dir": "./tools",
  "user_cache_update_interval_sec": 3600,
  "user_cache_expire_sec": 604800,
  "admin_user_ids": [
    123456789
  ]
}
